<div class="events">
  <div class="container">
    <div class="text-center mb-5">
        <h2 class="display-5">Course Categories</h2>
        <p class="text-muted">Stay updated with our courses and activities</p>
    </div>
    <div class="row events_row">
      <div class="col-lg-4 event_col" *ngFor="let category of categories">
        <app-category-item  [category]="category"></app-category-item>
      </div>
     
   
    </div>
    <!-- Pagination Bar -->
    <div class="d-flex justify-content-start mt-4">
      <app-pagination [totalPages]="totalPages" [currentPage]="currentPage" (pageChange)="changePage($event)">
      </app-pagination>
    </div>
  </div>
</div>
