/* Active link color */
.navbar-nav .nav-item.active>.nav-link {
    color: #0097B2 !important;
    font-weight: 600;
    border-bottom: 2px solid #0097B2;
}

/* Hover effects */
.navbar-nav .nav-link {
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #007c95;
}

/* Optional: spacing for better UX */
.navbar-nav .nav-item {
    margin: 0 8px;
}

/* Change the color of the toggle button */
#sidebarCollapse {
    background-color: #007c95 !important;
    border-color: #007c95;
}

/* Change the toggle icon color */
#sidebarCollapse .fa-bars {
    color: #ffffff;
    /* white color for the icon */
}